.card-1 {
  border-top: 5px solid #ff4f64;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
  background-color: #ffffff;
}

.card-2 {
  border-top: 5px solid #00a8e7;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
  background-color: #ffffff;
}

.card-3 {
  border-top: 5px solid #44c4a1;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
  background-color: #ffffff;
}

.card-4 {
  border-top: 5px solid #fcc200;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
  background-color: #ffffff;
}

/* Write CSS code here. */
.heading {
  font-size: 20px;
  font-weight: bold;
  font-family: 'Roboto';
  color: #171f46;
}
.para {
  font-size: 16px;
  font-family: 'Roboto';
  color: #171f46;
  width: 400px;
}
.image {
  height: 60px;
  width: 60px;
  align-self: flex-end;
}
